[config]
default_to_workspace = false

[tasks.fmt]
command = "cargo"
args = ["fmt", "--all", "--", "--check"]

[tasks.clippy]
command = "cargo"
args = ["clippy", "--workspace", "--all-targets", "--", "-D", "warnings"]

[tasks.build]
command = "cargo"
args = ["build", "--workspace", "--all-targets"]

[tasks.test]
command = "cargo"
args = ["test", "--workspace", "--all-targets", "--no-fail-fast"]

[tasks.snippet]
command = "cargo"
args = [
    "codesnip",
    "--source-config=.github/workflows/codesnip.toml",
    "verify",
    "--verbose",
    "--toolchain=1.89.0",
    "--edition=2024",
]

[tasks.cov]
command = "cargo"
args = [
    "llvm-cov",
    "--workspace",
    "--all-targets",
    "--lcov",
    "--output-path",
    "./target/lcov.info",
]

[tasks.all]
dependencies = ["fmt", "clippy", "test", "snippet"]
